# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/frontend/server/dist
/frontend/server/tmp
/frontend/server/out-tsc
/frontend/server/bazel-out

# Node
/frontend/server/node_modules
/frontend/server/npm-debug.log
/frontend/server/yarn-error.log

# IDEs and editors
/frontend/server/.idea/
/frontend/server/.project
/frontend/server/.classpath
/frontend/server/.c9/
/frontend/server/*.launch
/frontend/server/.settings/
/frontend/server/*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/frontend/server/.angular/cache
/frontend/server/.sass-cache/
/frontend/server/connect.lock
/frontend/server/coverage
/frontend/server/libpeerconnection.log
/frontend/server/testem.log
/frontend/server/typings

# System files
/frontend/server/.DS_Store
/frontend/server/Thumbs.db

# DB
/docker/db
/kaigan/db