<h1>KAIGAN</h1>
<mat-form-field appearance="fill">
  <mat-label>開眼した日</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    (dateChange)="cons()"
    [formControl]="selectedDate"
  />
  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [startAt]="today" #picker></mat-datepicker> </mat-form-field
><br />
<mat-form-field appearance="fill">
  <mat-label>クラブ</mat-label>
  <mat-select [formControl]="selectedClubs" multiple (valueChange)="cons()">
    <mat-select-trigger>
      {{selectedClubs.value?.[0] || ''}}
      <span
        *ngIf="(selectedClubs.value?.length || 0) > 1"
        class="example-additional-selection"
      >
        (+{{ (selectedClubs.value?.length || 0) - 1 }}
        {{ selectedClubs.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let club of clubList" [value]="club">{{
      club
    }}</mat-option>
  </mat-select> </mat-form-field
><br />

<mat-form-field appearance="fill">
  <mat-label>体の部位</mat-label>
  <mat-select [formControl]="selectedBodyParts" multiple (valueChange)="cons()">
    <mat-select-trigger>
      {{selectedBodyParts.value?.[0] || ''}}
      <span
        *ngIf="(selectedBodyParts.value?.length || 0) > 1"
        class="example-additional-selection"
      >
        (+{{ (selectedBodyParts.value?.length || 0) - 1 }}
        {{ selectedBodyParts.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let bodyParts of bodyPartsList" [value]="bodyParts">{{
      bodyParts
    }}</mat-option>
  </mat-select> </mat-form-field
><br />

<mat-form-field appearance="fill">
  <mat-label>ボディアクション</mat-label>
  <mat-select [formControl]="selectedActions" multiple (valueChange)="cons()">
    <mat-select-trigger>
      {{selectedActions.value?.[0] || ''}}
      <span
        *ngIf="(selectedActions.value?.length || 0) > 1"
        class="example-additional-selection"
      >
        (+{{ (selectedActions.value?.length || 0) - 1 }}
        {{ selectedActions.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let action of actionList" [value]="action">{{
      action
    }}</mat-option>
  </mat-select>
</mat-form-field>
